.first img {
	height:50px;
    width: 50px;
	position:absolute;
	right:650px;
	top: 65px;	
}

.second {
			 background-color: white;
			 width:250px;
			 padding:50px;
			 border: 7px solid #0e4d92;
			 border: linear-gradient(red, blue);
			
			 border-radius: 7px;
			 position: absolute;
			 right: 350px;
			 top: 120px;
			 
			 }
body
{
	
	background-color:red;
}